h1 {
  text-align: center;
  margin-top: 40px;
  font-family: "Ephesis", cursive;
  font-size: 70px;
}

.form-control {
  border: 1px solid #ffbd63;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.searching-head {
  position: relative;
  left: 20%;
  right: 10%;
}

.searchingCurrentLocation {
  display: block;
  margin: 0 auto;
  background-color: #4954860c;
  color: rgb(137, 160, 200);
  padding: 6px 14px;
  border: hidden;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  font-size: 18px;
}

.searchingCurrentLocation:hover {
  cursor: pointer;
  color: #ffba8c;
  background-color: white;
}

.searchingbutton {
  display: block;
  margin: 0 auto;
  background-color: #ffba8c;
  color: white;
  padding: 7px 13px;
  border: hidden;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

.searchingbutton:hover {
  cursor: pointer;
  background-color: #4954860c;
  color: rgb(137, 160, 200);
}

.current-time {
  text-align: center;
  font-size: 20px;
  margin-top: -20px;
}

.current-date {
  text-align: center;
  font-size: 12px;
}

.Weather-type {
  font-weight: 200;
  font-size: 26px;
  text-transform: capitalize;
  margin-top: -10px;
  font-family: "Ephesis", cursive;
  color: rgb(137, 160, 200);
  text-align: center;
}

.currentTemperature {
  text-align: center;
  margin-top: 10px;
  margin-left: 3%;
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  color: #2f2e41;
  font-size: 50px;
}

.units {
  position: relative;
  font-size: 12px;
  top: -25px;
}

.Fahrenheit-link {
  color: rgb(137, 160, 200);
  text-decoration: none;
}

.Fahrenheit-link:hover {
  cursor: pointer;
  color: #ffbd63;
}

.Celsius-link {
  color: #2f2e41;
  text-decoration: none;
}

.Celsius-link:hover {
  cursor: pointer;
  color: #ffbd63;
}

.current-icon {
  display: block;
  margin: 0 auto;
  margin-top: -250px;
  margin-bottom: -250px;
  width: 200px;
}

.weather-informations {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.719);
  padding: 10px;
}

.openSource {
  text-align: center;
  font-size: 12px;
}

.openSourceLink {
  color: rgb(137, 160, 200);
  text-decoration: none;
}
